@using Web.Client.Models
@inherits LayoutComponentBase
@inject NavigationManager _navigation
<div class="page">
    <div class="sidebar">
        <SidebarMenu />
    </div>
    <main>
        <div class="top-row px-4">
            <a class="btn btn-success" href="swagger" target="_blank">SWAGGER</a>
            <a class="btn btn-primary" href="login">ĐĂNG NHẬP</a>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {

    // protected override void OnInitialized()
    // {
    // }

    private void GoToLogin()
    {
        _navigation.NavigateTo("login");
    }
}