@using Web.Client.Models
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Web</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        @foreach (var item in MenuItems)
        {
            <div class="nav-item px-3">@((MarkupString)item.Render())</div>
        }
    </nav>
</div>

@code {
    [Parameter]
    public List<IMenuComponent> MenuItems { get; set; } = new List<IMenuComponent>();
}